<script type="text/javascript" src="{VAR:HOST}system/WYSIWYG/tiny_mce.js"></script>
        <script type="text/javascript">
        tinyMCE.init({
        // General options
        language : "{VAR:LANG}",
        mode : "exact",
        elements : "textarea_content",
        theme : "advanced",
        plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,forms",
        
        // Theme options
        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect,|,forecolor,|,bullist,numlist,|,outdent,indent,blockquote",
        theme_advanced_buttons2 : "undo,redo,|,link,unlink,image,media,code,|,tablecontrols,|,visualaid,|charmap,|,fullscreen,spellchecker,|",
        theme_advanced_buttons3 : "forms",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,
        
        // Example content CSS (should be your site CSS)
        //content_css : "css/example.css",
        
        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "template_list.js",
        external_link_list_url : "{VAR:HOST}content/linklist.php",
        external_image_list_url : "{VAR:HOST}content/imagelist.php",
        media_external_list_url : "js/media_list.js",
        
        // Replace values for the template plugin
        template_replace_values : {
        username : "Some User",
        staffid : "991234"
        }
        });
        </script>
        <textarea id="textarea_content" name="content" style="width:70%;height:600px;">{VAR:CONTENT}</textarea>
        </div>
        <div style="clear:both;">
        <input name="vorschau" type="submit" value="{LANG:PREVIEW}" onclick="form.action='{VAR:PREVIEWURL}' ; target='_blank' ; return true" />
        <input name="save" type="submit" value="{LANG:SAVE}" onclick="form.action='{VAR:URL}' ; target='_self' ; return true" />