{IF:SHOWSEARCHFORM}
	<form name="searchform" method="post" class="plugin_customsearch_form">
		<input type="text" name="q" value="{VAR:SEARCHTOKEN}" class="plugin_customsearch_inputtext" placeholder="{VAR:PLACEHOLDER}" /> <input type="submit" name="searchstart" value="{LANG:PLUGIN_CUSTOMSEARCH_SEARCHSTART}" class="plugin_customsearch_inputvalue" />
	</form>
{/IF:SHOWSEARCHFORM}

{IF:SHOWSEARCHPAGES}
	<h3 class="plugin_customsearch_title">{LANG:PAGES}:</h3>
		<ul class="plugin_customsearch_list">
			{LOOP:SEARCHPAGES}
				<li class="plugin_customsearch_listitem">
					<a class="plugin_customsearch_link" href="{VAR:URL}">{VAR:TITLE}<br /></a>
					<div class="plugin_customsearch_description">{VAR:DESCRIPTION}</div>
				</li>
			{/LOOP:SEARCHPAGES}
		</ul>
{/IF:SHOWSEARCHPAGES}

{IF:SHOWSEARCHUSERS}
	<h3 class="plugin_customsearch_title">{LANG:USER}</h3>
		<ul class="plugin_customsearch_list">
			{LOOP:SEARCHUSERS}
				<li class="plugin_customsearch_listitem">{VAR:USERNAME}</li>
			{/LOOP:SEARCHUSERS}
		</ul>
{/IF:SHOWSEARCHUSERS}

{IF:SHOWSEARCHIMAGES}
	<h3 class="plugin_customsearch_title">{LANG:IMAGES}</h3>
		<table class="plugin_customsearch_imagestable">
			{LOOP:SEARCHIMAGES}
				<tr class="plugin_customsearch_imagetr">
					<td class="plugin_customsearch_imagetd">
						<img style="max-width:75px;max-height:75px;" src="{VAR:URL}" />
					</td>
					<td style="vertical-align: middle;" class="plugin_customsearch_imagetitletd">
						<a class="plugin_customsearch_link" href="{VAR:URL}" target="_blank">{VAR:TITLE}</a>
						{VAR:IMAGEDESCRIPTION}
					</td>
				</tr>
			{/LOOP:SEARCHIMAGES}
		</table>
{/IF:SHOWSEARCHIMAGES}

{IF:SHOWNORESULT}
	<p class="plugin_customsearch_noresult">{VAR:NORESULT}</p>
{/IF:SHOWNORESULT}