<p><h3>{LANG:PLUGIN_CUSTOMSEARCH_EDITTITLE}</h3></p>
<ul>
	<li><input type="checkbox" name="plugin_customsearch_pages" value="1" id="pages"{VAR:PAGES_CHECKED} /> <label for="pages">{LANG:PAGES}</label></li>
	<ul>
		<li><input type="checkbox" name="plugin_customsearch_internpages" value="1" id="internpages"{VAR:INTERNPAGES_CHECKED} /> <label for="internpages">{LANG:PLUGIN_CUSTOMSEARCH_INTERNPAGES}</label></li>
	</ul>
	<li><input type="checkbox" name="plugin_customsearch_users" value="1" id="users"{VAR:USERS_CHECKED} /> <label for="users">{LANG:USER}</label></li>
	<li><input type="checkbox" name="plugin_customsearch_images" value="1" id="images"{VAR:IMAGES_CHECKED} /> <label for="images">{LANG:IMAGES}</label></li>
	<li><input type="checkbox" name="plugin_customsearch_form" value="1" id="form"{VAR:FORM_CHECKED} /> <label for="form">{LANG:PLUGIN_CUSTOMSEARCH_SHOWFORM}</label></li>
</ul>
<p>{VAR:NORESULT} <input type="text" name="plugin_customsearch_noresulttext" value="{VAR:NORESULTTEXT}" /></p>
<p><input name="save" type="submit" value="{LANG:CHANGE}" onclick="form.action='{VAR:FORMURL}' ; target='_self' ; return true" /></p>

<p><h3>{LANG:PLUGIN_CUSTOMSEARCH_SKINCODE}</h3></p>

<pre>
&lt;form name="searchform" method="post" action="{VAR:FORMACTION}"&gt;
	&lt;input type="text" name="q" placeholder="{LANG:PLUGIN_CUSTOMSEARCH_PLACEHOLDER}" /&gt;
	&lt;input type="submit" name="searchstart" value="{LANG:PLUGIN_CUSTOMSEARCH_SEARCHSTART}" /&gt;
&lt;/form&gt;
</pre>