<form style="float:left;width:100%" action="{VAR:URL}" method="post">
  {LANG:ROLE}: {VAR:Roles}
  <hr />
    <table style="width:100%">
      {LOOP:SETTINGS}
        <tr>
          <td>
            <label for="{VAR:PROPERTY}">
              {VAR:DESCRIPTION}
            </label>
          </td>
          <td>
            {VAR:CONTROL}
          </td>
        </tr>
      {/LOOP:SETTINGS}
    </table>
    <br />
    <input type="submit" name="save" value="{LANG:SAVE}" />
</form>