<table>
  <tbody>
    {LOOP:FORMS}
      <tr>
        <td>{VAR:NAME}</td>
        <td>
          <div class="iconbar">
            <a title="{LANG:EDIT}" href="{VAR:EDITURL}">
              <img src="{ICON:PAGE_EDIT}" />
            </a>
            <a title="{LANG:PLUGIN_FORMLISTWIDGET_DELETE}" href="javascript:plugin_formlistwidget_deleteform('{VAR:ID}')">
              <img src="{ICON:CROSS}" />
            </a>
          </div>
        </td>
      </tr>
    {/LOOP:FORMS}
  </tbody>
</table>
{VAR:NOFORMS}
<div id="plugin_formlistwidget_dialog" title="{LANG:DELETE}" style="display:none">
    {LANG:PLUGIN_FORMLISTWIDGET_DELETE_QUESTION}<br /><br />
	<form method="POST">
		<input type="hidden" id="plugin_formlistwidget_deleteid" name="plugin_formlistwidget_deleteid" />
		<input type="submit" value="{LANG:DELETE}" />
	</form>
</div>
<script>
  function plugin_formlistwidget_deleteform(id){
    $("#plugin_formlistwidget_deleteid").val(id);
    $("#plugin_formlistwidget_dialog").dialog({modal: true,resizable: false});
  }
</script>