<table>
  <tbody>
    {LOOP:PAGES}
      <tr>
        <td>{VAR:TITLE}</td>
        <td>
          <div class="iconbar">
            <a title="{LANG:SHOW}" href="{VAR:SHOWURL}" target="blank">
              <img src="{ICON:PAGE_FIND}" />
            </a>
            <a title="{LANG:EDIT}" href="{VAR:EDITURL}">
              <img src="{ICON:PAGE_EDIT}" />
            </a>
            <a title="{LANG:DELETE}" href="{VAR:DELETEURL}">
              <img src="{ICON:CROSS}" />
            </a>
          </div>
        </td>
      </tr>
    {/LOOP:PAGES}
  </tbody>
</table>
{VAR:NOPAGES}