body{
  background-color: #0c0c0c;
  background-image: url('images/bg.png');
  background-repeat:repeat-x;
  font-family:Verdana,non-serif; 
  margin:0;
  padding:0;
  font-size:12px;
}
#globalmenu{
  background-color:#2a2a2a;
  height:167px;
  margin:0;
  color:#fff;
}
#globalmenu ul{
  list-style-type:none;
  padding:0;
  width:240px;
}
#container{
  text-align:left;
}
#content{
  padding:14px;
  min-height:300px;
}
#localmenu{
  float:left;
}
img{
  border:0;
}
#container{
  width:619px;
  margin: 0 auto;
  background-color:#fff;
}
#pagetitle{
  font-size:24px;
  padding-top:21px;
  padding-bottom:21px;
  padding-left:14px;
  margin:0;
  font-weight: 700;
  color: #a60000;
}
h2{
  font-size:14px;
}
h1,h2,h3,h4,h5,h6 {
  color: #a60000;
}
#footer{
  background-color:#2a2a2a;
  color:#fff;
  text-align:right;
  padding:8px;
}
#globalmenu img{
  height:167px;
}
#menu{
  float:right;
}
#menu a{
  color:#fff;
  text-decoration:none;
  font-size:12px;
}
#content{
  width:360px;
}
#footer a{
  color:#fff;
}
#breadcrumb{
  clear:left;
}
label{
  width:120px;
  display:block;
  float:left;
  clear:left;
}
input{
  margin-bottom:4px;
}
.formsubmit{
  margin-left:119px;
}