<form style="float:left;width:600px;" action="{VAR:URL}" method="post">
  {LANG:ROLE}: {VAR:Roles}
    <table style="width:95%;border-top:1px solid #6c4327;margin-top:5px;padding-top:10px;">
      {LOOP:SETTINGS}
        <tr>
          <td>
            <label for="{VAR:PROPERTY}">
              {VAR:DESCRIPTION}
            </label>
          </td>
          <td>
            {VAR:CONTROL}
          </td>
        </tr>
      {/LOOP:SETTINGS}
    </table>
    <br />
    <input type="submit" name="save" value="{LANG:SAVE}" />
</form>