{IF:PASSWORD_WRONG}
    <b class="plugin_changepassword_error">{LANG:PLUGIN_CHANGEPASSWORD_WRONG-CONFIRM-PASSWORD}</b><br />
{/IF:PASSWORD_WRONG}
{IF:OLD_PASSWORD_WRONG}
    <b class="plugin_changepassword_error">{LANG:PLUGIN_CHANGEPASSWORD_OLD-PASSWORD-WRONG}</b><br />
{/IF:OLD_PASSWORD_WRONG}
{IF:SUCCESSFUL}
    <b class="plugin_changepassword_successful">{LANG:PLUGIN_CHANGEPASSWORD_SUCCESSFUL}</b><br />
{/IF:SUCCESSFUL}

<br /><br />
<form action="{VAR:ACTION}" method="post">
    <table>
        <tr>
            <td>{LANG:PLUGIN_CHANGEPASSWORD_CURRENT-PASSWORD}: </td>
            <td><input type="password" name="old_password" /></td>
        </tr>
        <tr>
            <td>{LANG:PLUGIN_CHANGEPASSWORD_NEW-PASSWORD}: </td>
            <td><input type="password" name="new_password" /></td>
        </tr>
        <tr>
            <td>{LANG:PLUGIN_CHANGEPASSWORD_CONFIRM-PASSWORD}: </td>
            <td><input type="password" name="confirm_password" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" name="Absenden" value="{LANG:CHANGE}" /></td>
        </tr>
    </table>
</form>