<table>
  <tbody>
    {LOOP:MENUS}
      <tr>
        <td>{VAR:TITLE}</td>
        <td>
          <div class="iconbar">
            <a title="{LANG:EDIT}" href="{VAR:EDITURL}">
              <img src="{ICON:PAGE_EDIT}" />
            </a>
            <a title="{LANG:DELETE}" href="{VAR:DELETEURL}">
              <img src="{ICON:CROSS}" />
            </a>
          </div>
        </td>
      </tr>
    {/LOOP:MENUS}
  </tbody>
</table>
{VAR:NOMENUS}