/* JS-Enabled CSS */

.widget-head a.remove  {
    float: right;
    display: inline;
    background: url(img/buttons.gif) no-repeat -24px 0;
    width: 14px;
    height: 14px;
    margin: 3px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.collapse  {
    float: left;
    display: inline;
    background: url(img/buttons.gif) no-repeat -52px 0;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    margin: 3px 0 8px 4px;
    outline: none;
}

.widget-placeholder { border: 2px dashed #999;}