body{
  margin:0;
  padding:0;
  font-family:Tahoma, sans-serif;;
}
label{
  display:block;
}
#adminmenue{
  list-style-type : none;
  margin:0;
  margin-bottom:40px;
  padding:0;
  background-color:#333;
  width:100%;
  height:20px;
}
#adminmenue a{
  color:#fff;
}
#adminmenue li{
  display:inline;
}
thead{
  background-color:#ddd;
  color:#333;
}
fieldset{
  width:50%;
}
fieldset input{
  width:95%;
}
.dbtable{
  font-size:14px;
}
.dbtable thead{
  background-color:#333;
  color:#fff;
}
.dbtable tbody tr:hover{
  background-color:#ddd;
}
img{
  border:0;
}
#content{
  padding:20px;
  padding-top: 5px;
}