{IF:FILES_EXIST}
  <table>
    <tbody>
      {LOOP:FILES}
        <tr>
          <td>{VAR:IMAGE}</td>
          <td>{VAR:FILELINK}</td>
          <td>
            {VAR:ACTIONS}
          </td>
        </tr>
      {/LOOP:FILES}
    </tbody>
  </table>
{/IF:FILES_EXIST}
{IF:NOFILES}
  {LANG:NO_FILES}
{/IF:NOFILES}

<div id="dialog" title="{LANG:RENAME_FILE}" style="display:none">
    <form method="POST">
	  Dateiname: <br />
      <input id="plugin_filelistwidget_rename_oldname" name="plugin_filelistwidget_rename_oldname" type="hidden" />
      <input id="plugin_filelistwidget_rename_newname" name="plugin_filelistwidget_rename_newname" /> <br /><br />
      <input name="plugin_filelistwidget_action_rename" type="submit" value="{LANG:RENAME}" />
    </form>
</div>
<script>
  function showRenameFileDialog(filename){
    document.getElementById('plugin_filelistwidget_rename_oldname').value = filename;
    document.getElementById('plugin_filelistwidget_rename_newname').value = filename;
    $( "#dialog" ).dialog({modal: true,resizable: false});
  }
</script>