<form method="post" name="analyticsform">
	<p>
		{LANG:PLUGIN_ANALYTICS_CHOOSE_SYSTEM}:
		<select name="analyticssystem" onchange="document.analyticsform.submit() ">
			<option value="0">{LANG:PLUGIN_ANALYTICS_NO_SYSTEM}</option>
			<option value="google"{VAR:SELECTEDGOOGLE}>Google Analytics</option>
			<option value="piwik"{VAR:SELECTEDPIWIK}>Piwik</option>
		</select>
	</p>
	{IF:SHOWGOOGLE}
		<p>
			{LANG:PLUGIN_ANALYTICS_GOOGLE_PROPERTY_ID}: <input type="text" name="analyticsvalue" value="{VAR:googleid}" />
			<br />
			<input type="submit" name="analytivssave" value="{LANG:SAVE}" />
		</p>
	{/IF:SHOWGOOGLE}

	{IF:SHOWPIWIK}
		<p>
			{LANG:PLUGIN_ANALYTICS_PIWIK_URL}: <input type="text" name="analyticsvalue" value="{VAR:piwikurl}" />
			<br />
			<input type="submit" name="analytivssave" value="{LANG:SAVE}" />
		</p>
	{/IF:SHOWPIWIK}
	
</form>