<form name="form" method="POST">
  <table>
    <tr>
      <td>{LANG:DATATYPE}:</td>
      <td>{VAR:DATATYPE}</td>
    </tr>
    <tr>
      <td>{LANG:SEND_TEXT}:</td>
      <td>{VAR:BUTTONTEXT}</td>
    </tr>
    <tr>
      <td>{LANG:SUCCESS_MESSAGE}:</td>
      <td>{VAR:SUCCEEDMESSAGE}</td>
    </tr>
    <tr>
      <td>{LANG:SHOW_AFTER_SUCCESS}:</td>
      <td>{VAR:SHOWAFTERINSERT}</td>
    </tr>
  </table>
  {VAR:FIELDS}
  <input name="save" type="submit" value="{LANG:SAVE}" />
</form>