<h1>{LANG:MENUS}</h1>
<p>
  <a href="{VAR:NEWMENUURL}">{LANG:NEW_MENU}</a>
</p>
<table>
  <thead>
    <tr>
      <td><strong>{LANG:ID}</strong></td>
      <td><strong>{LANG:NAME}</strong></td>
      <td><strong>{LANG:PAGES}</strong></td>
      <td><strong>{LANG:ACTIONS}</strong></td>
    </tr>
  </thead>
  <tbody>
    {LOOP:MENUS}
    <tr>
      <td>{VAR:ID}</td>
      <td>{VAR:NAME}</td>
      <td>{VAR:PAGES}</td>
      <td>
        <a title="Bearbeiten" href="{VAR:EDITURL}">
           <img src="{ICON:PAGE_EDIT}" />
        </a>
        <a title="L&ouml;schen" href="{VAR:DELETEURL}">
           <img src="{ICON:CROSS}" />
        </a>
      </td>
    </tr>
    {/LOOP:MENUS}
  </tbody>
</table>