<input name="{VAR:ID}_title" value="{VAR:TITLE}" />
<select name="{VAR:ID}_type" onChange="typeSelected()">
  <option value="0"{VAR:SELECTEDINTERNAL}>{LANG:PAGE_INTERNAL}</option>
  <option value="1"{VAR:SELECTEDEXTERNAL}>{LANG:PAGE_EXTERNAL}</option>
  <option value="2"{VAR:SELECTEDSUBMENU}>{LANG:MENU}</option>
</select> 
{VAR:VALUECONTROL}
{VAR:ACTIONS}
<br />