{IF:NOTSUCCEEDED}
  <form action="{VAR:URL}" method="POST">
    {LANG:NAME}: <input name="name"><br />

    <input type="submit" value="{LANG:CREATE}" />
  </form>
{/IF:NOTSUCCEEDED}
{IF:SUCCEEDED}
  <p>{LANG:MENU_CREATED}</p>
{/IF:SUCCEEDED}