<h1>{LANG:PAGES}</h1>
{VAR:MESSAGE}
<p>
  {VAR:NEWPAGELINK}
</p>
<form action="{VAR:FORMURL}" method="POST">
  <p>
    {LANG:PATH}: 
    {LOOP:PATH}
      <a href="{VAR:URL}">{VAR:LABEL}</a> 
    {/LOOP:PATH}
    <input name="name" style="width:100px;" />
    <input name="newFolder" type="submit" value="{LANG:NEW}" />
  </p>
</form>
<ul style="list-style-type:none;">
  {LOOP:DIRS}
    <li>
      <img src="{ICON:FOLDER}" />
      <a href="{VAR:URL}">{VAR:LABEL}</a>
    </li>
  {/LOOP:DIRS}
</ul>
{VAR:DELETEFOLDERLINK}
<table>
  <thead>
    <td><strong>{LANG:TITLE}</strong></td>
    <td><strong>{LANG:ALIAS}</strong></td>
    <td><strong>{LANG:ACTIONS}</strong></td>
  </thead>
  <tbody>
    {LOOP:PAGES}
      <tr>
        <td>{VAR:TITLE}</td>
        <td>{VAR:ALIAS}</td>
        <td>
          <a title="{LANG:EDIT}" href="{VAR:EDITURL}">
            <img src="{ICON:PAGE_EDIT}" />
          </a>
          <a title="{LANG:DELETE}" href="{VAR:DELETEURL}">
            <img src="{ICON:CROSS}" />
          </a>
        </td>
      </tr>
    {/LOOP:PAGES}
  </tbody>
</table>
{VAR:NOPAGES}