<form name="form" action="{VAR:PATH}" method="post">
<div style="float:right;width:20%;">
    <h2>{LANG:OWNER}</h2>
    {VAR:OWNERCONTROL}
    <h2>{LANG:RIGHTS}</h2>
    <select name="rights[]" size="4" multiple="yes" style="width:150px">
      {LOOP:RIGHTS}
        <option {VAR:SELECTED} value="{VAR:VALUE}">{VAR:NAME}</option>
      {/LOOP:RIGHTS}
    </select>
    <h2>{LANG:PAGE_MENU}</h2>
    <select name="menu" onchange="form.action='';target='_self';document.form.submit();">
      {LOOP:MENU}
        <option {VAR:SELECTED} value="{VAR:VALUE}">{VAR:NAME}</option>
      {/LOOP:MENU}
    </select>
    <div id="menupreview">
      {VAR:MENUPREVIEW}
    </div>
    <h2>{LANG:META_DATA}</h2>
    <table>
        <tr>
            <td style="min-width:120px">
                <label for="meta-description">Description:</label>
            </td>
            <td>
                <input name="meta-description" value="{VAR:METADESCRIPTION}" style="max-width:156px;width:100%" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="meta-keywords">Keywords:</label>
            </td>
            <td>
                <input name="meta-keywords" value="{VAR:METAKEYWORDS}" style="max-width:156px;width:100%" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="meta-robots">Robots:</label>
            </td>
            <td>
                <input name="meta-robots" value="{VAR:METAROBOTS}" style="max-width:156px;width:100%" />
            </td>
        </tr>
        <tr>
            <td>
                <input id="usecanonical" onchange="if(!$('#usecanonical')[0].checked)  $('#canonical').val('')" type="checkbox" name="usecanonical" />
                Canonical:
            </td>
            <td>
                <input id="canonical" onchange="$('#usecanonical')[0].checked = $(this).val() != ''" onkeyup="$('#usecanonical')[0].checked = $(this).val() != ''" name="canonical" value="{VAR:CANONICAL}" style="max-width:156px;width:100%" />
                <script type="text/javascript">
                    $('#usecanonical')[0].checked = $('#canonical').val() != ''
                </script>
            </td>
        </tr>
    </table>
    <h2>Sitemap</h2>
    <table>
		<tr>
			<td>{LANG:CONSIDER}:</td>
			<td>
				<input name="in_sitemap" type="checkbox" value="1"{VAR:IN_SITEMAP_CHECKED} />
			</td>
		</tr>
		<tr>
			<td>{LANG:PRIORITY}:</td>
			<td>
				<select id="priority" name="priority">
					<option value="1">{LANG:VERY_HIGH}</option>
					<option value="0.8">{LANG:HIGH}</option>
					<option value="0.5">{LANG:MIDDLE}</option>
					<option value="0.3">{LANG:LOW}</option>
					<option value="0">{LANG:VERY_LOW}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>{LANG:CHANGE_FREQUENCE}:</td>
			<td>
				<select id="change_frequence" name="change_frequence">
					<option value="always">{LANG:ALWAYS}</option>
					<option value="hourly">{LANG:HOURLY}</option>
					<option value="daily">{LANG:DAILY}</option>
					<option value="monthly">{LANG:MONTHLY}</option>
					<option value="yearly">{LANG:YEARLY}</option>
					<option value="never">{LANG:NEVER}</option>
				</select>
			</td>
		</tr>
	</table>
	<script type="text/javascript">
		$("#change_frequence").val("{VAR:CHANGE_FREQUENCE}");
		$("#priority").val("{VAR:PRIORITY}");
	</script>
    <h2>{LANG:ADVANCED_HTML_HEADER}</h2>
    <textarea name="advanced_html_header" style="width:200px;height:100px;">{VAR:ADVANCED_HTML_HEADER}</textarea>
  </div>
  <div>
    <input id="title" name="title" value="{VAR:TITLE}" style="width:70%;height:25px;margin-bottom:5px;font-size:20px;" /><br />
    <div style="padding:5px;">
      Url: {VAR:HOST}<input id="localalias" name="localalias" value="{VAR:LOCALALIAS}" />.html<br />
    </div>
    {VAR:EDITOR}
  </div>
  <div>
  </div>
</form>