<style>
  body{
    padding;0;
  }
  strong{
    font-size:10px;
  }
  textarea{
    width:98%;
    height:50px;
    margin-bottom:2px;
  }
</style>
<form method="POST">
  <div>
    <strong>{LANG:IN_YOUR_LANGUAGE}:</strong><br />
    {VAR:ORIGINAL}
  </div>
  <div>
    <strong>{LANG:TRANSLATED}:</strong><br />
    <textarea name="translation">{VAR:TRANSLATION}</textarea>
  </div>
  <input type="submit" value="{LANG:SAVE}" />
</form>