<form enctype="multipart/form-data" action="{VAR:UPLOADURL}" method="post">
{LANG:FILE}: <input type="file" name="file"><br />
<input name="referrer" value="{VAR:REFERRER}" type="hidden"><br />
<input type="submit" value="{LANG:UPLOAD_FILE}">
</form>