<p>{VAR:MESSAGE}</p>
{IF:!SHOW_MEDIALIBARY}
	<script type="text/javascript">
		setTimeout(function(){
			window.location.href = '{VAR:REFERRER}';
		},1000);
	</script>
{/IF:!SHOW_MEDIALIBARY}
{IF:SHOW_MEDIALIBARY}
  <h2>{LANG:ADD_IMAGE_TO_MEDIALIBARY}</h2>
  <form action="{VAR:URL}" method="POST">
    <input type="hidden" name="path" value="{VAR:FILE_PATH}" />
	<input type="hidden" name="referrer" value="{VAR:REFERRER}" />
    <table>
      <tr>
        <td>{LANG:NAME}:</td>
        <td><input name="name" /></td>
      </tr>
      <tr>
        <td>{LANG:DESCRIPTION}:</td>
        <td><input name="description" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="{LANG:INSERT}" />
      </tr>
    </table>
  </form>
   <img src="{VAR:FILE_PATH}" style="max-width:300px" />
{/IF:SHOW_MEDIALIBARY}