<p>{VAR:MSG}</p>
{VAR:TABLE}
<h2>{LANG:ADD_USER}</h2>
<form action="{VAR:URL}" method="POST">
  <table>
    <tr>
      <td>{LANG:NAME}:</td>
      <td><input name="name" /></td>
    </tr>
    <tr>
      <td>{LANG:ROLE}:</td>
      <td>{VAR:ROLES}</td>
    </tr>
    <tr>
      <td>{LANG:PASSWORD}:</td>
      <td><input name="password" type="password" /></td>
    </tr>
	 <tr>
      <td>{LANG:EMAIL}:</td>
      <td><input name="email" /></td>
    </tr>
  </table>
  <input name="insert" type="submit" value="{LANG:ADD}" />
</form>