.ui-widget-overlay{
  background-color:#222222;
  background-repeat:no-repeat;
}
.ui-widget-header{
  background: #6c4327 url(images/ui-bg_highlight-soft_75_6c4327_1x100.png) 50% 50% repeat-x;
  color:#d19340;
  padding-top:0;
  padding-bottom:0;
}
.ui-widget-titlebar{
  padding-top:0;
  padding-bottom:0;
}
#ui-dialog-title-dialog{
  margin-top:0;
  margin-bottom:0;
  font-size:90%;
}