/* --------------------------------------------------------------------------------------------------------------------------------------------------
RESET & HTML ELEMENTS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, legend, li, ol, p, pre, td, th, ul {margin:0; padding:0; border:0; vertical-align:baseline;}
address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, table, ul {margin:15px 0;}
body {padding:100px 0; background:url("../design/bg.jpg") 0 0 repeat-x; font:0.8em/1.5 "arial", sans-serif;}
h1 {font-size:300%;}
h2 {font-size:180%;}
h3 {font-size:160%;}
h4, h5, h6 {}
form ul {list-style:none;}
form li {display:block; padding-bottom:7px;}

input, select, textarea {font-size:100%; font-family:"arial",sans-serif;}
table.table {border-collapse:collapse; border-spacing:0;}
table.table th, table.table td {padding:7px 10px;}
table.table th {font-weight:bold;}
ul.ul {margin-left:20px; list-style:none;}
ul.ul li {padding-left:15px; background:url("../design/ul.gif") 0 5px no-repeat;}
ul.ul ul {margin:0 0 0 20px; list-style:none;}
img.f-left {margin-right:15px;}
img.f-right {margin-left:15px;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#main {width:920px; margin:0 auto;}
#nav {position:relative; height:43px; padding-top:12px; background:url("../design/nav.png") 0 0 no-repeat; font-size:110%;}
#nav ul {margin:0 20px; list-style:none;}
#nav ul li {display:inline;}
#nav ul li a {display:block; float:left; padding:5px 15px; background:url("../design/nav-separator.png") 100% 0 repeat-y; text-decoration:none;}
#nav ul li.current a, #nav ul li a:hover {text-decoration:none;}
#nav #twitter {position:absolute; bottom:-15px; right:35px; margin:0; z-index:999;}
#content {text-align:justify;}
#content .padding {padding:35px;}
#footer {padding:35px 35px 0 35px; background:url("../design/footer.png") 0 0 no-repeat;}
#footer p {margin:0;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: HOMEPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.intro {position:relative; width:920px; height:380px; overflow:hidden; background:url("../design/intro.png") 0 0 repeat-x;}
.intro #laptop {width:920px; height:380px; background:url("../design/laptop.png") 100% 25px no-repeat;}
.intro #logo {position:absolute; top:35px; left:35px; margin:0;}
.intro #slogan {position:absolute; bottom:115px; left:35px; width:450px; margin:0; font-size:270%; line-height:1.1;}
.intro #button {position:absolute; top:330px; left:35px; margin:0;}
.intro #button a {margin-right:5px; padding:8px 12px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; text-decoration:none; font-weight:bold;}
.intro #screenshot {position:absolute; top:40px; right:0; margin:0;}
.intro #screenshot img {display:block; width:375px; height:276px;}
.cols3 {margin:0; list-style:none;}
.cols3 li {display:block; float:left; width:270px; margin-right:20px;}
.cols3 li.last {margin:0;}
.cols3 li .thumb {margin:15px 0;}
.cols3 li .thumb img {display:block; width:270px;}
.cols3 li h2 {margin:0; line-height:1;}
.cols3 li p {margin:0;}
.gradient {padding:30px 35px 35px 35px; background:url("../design/gradient.png") 0 0 repeat-x;}
.gradient p, .gradient h3 {margin:0;}
.gradient h3 {margin-bottom:15px;}
.gradient .col-left {float:left; width:270px;}
.gradient .col-right {float:right; width:560px;}
.gradient .col-right ul {margin:0; list-style-type:square; list-style-position:inside;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: SUBPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.title {position:relative; padding:35px; background:url("../design/gradient-02.png") 0 100% repeat-x;}
.title #logo {position:absolute; top:48px; right:35px; margin:0;}
.title h1 {margin:0;}
.col-content {float:left; width:610px; padding:20px 35px 35px 35px;}
.col-aside {float:right; width:200px; padding-right:35px;}
.gallery li {display:block; float:left; margin-right:10px;}
.gallery li.last {margin:0;}
.menu {list-style:none;}
.menu li {display:inline;}
.menu li a {display:block; padding:5px 0;}
.menu li.current a {font-weight:bold; text-decoration:none;}
.sponsors {margin:0; list-style:none;}
.sponsors li {padding:5px 0;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
OTHERS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.box {min-height:1px; _height:1%;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}
.fix {float:none; clear:both; width:0; height:0; margin:0; padding:0; border:0; line-height:0; font-size:0;}
.f-left {float:left !important;}
.f-right {float:right !important;}
.t-left {text-align:left !important;}
.t-center {text-align:center !important;}
.t-right {text-align:right !important;}
.t-justify {text-align:justify !important;}
.va-top {vertical-align:top !important;}
.va-middle {vertical-align:middle !important;}
.va-bottom {vertical-align:bottom !important;}
.nom {margin:0 !important;}
.nomt {margin-top:0 !important;}
.nomb {margin-bottom:0 !important;}
.hidden {position:absolute; left:-1000em; top:auto; width:1px; height:1px; overflow:hidden;}
.noscreen {display:none;}
.smaller {font-size:85%;}
.input-text {padding:5px;}
.input-submit {padding:3px;}