/* --------------------------------------------------------------------------------------------------------------------------------------------------
RESET & HTML ELEMENTS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

body {background-color:#ce5249; color:#000;}
a {color:#c00;}
a:hover, a:active, a:focus {color:#000;}
h1 {color:#000;}
h2, h3 {color:#c00;}
table.table {border:1px solid #CCC;}
table.table th, table.table td {border:1px solid #CCC;}
table.table th {border-bottom:3px solid #c00; color:#c00;}
table.table tr.even td {background-color:#F7E7E6;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#nav ul li a {color:#FFF;}
#nav ul li.current a, #nav ul li a:hover {color:#F0B8B4;}
#content {background-color:#FFF;}
#footer a {color:#000;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: HOMEPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.intro {background-color:#FFF;}
.intro #button a {background-color:#FFF;}
.intro #button a:hover {background-color:#000; color:#FFF;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: SUBPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.title {background-color:#FFF;}
.menu {border-top:1px dotted #CCC;}
.menu li a {border-bottom:1px dotted #CCC;}
.menu li.current a {color:#000;}
.sponsors {border-top:1px dotted #CCC;}
.sponsors li {border-bottom:1px dotted #CCC;}	

/* --------------------------------------------------------------------------------------------------------------------------------------------------
OTHERS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.input-text {border:1px solid #CCC; border-right:1px solid #EEE; border-bottom:1px solid #EEE; color:#888;}