{IF:SHOWFORM}
	<form name="contactform" action="{VAR:FORMURL}" method="post" onsubmit="return plugin_contactform_validateForm()">
		<div><input name="url" value="" type="hidden" /></div>
		<p><small>{LANG:PLUGIN_CONTACTFORM_REQUIREFIELDS}</small></p>
		<p>
			<strong>{LANG:PLUGIN_CONTACTFORM_FORMINPUTNAME}:</strong>
			<br />
			<input type="text" required="required" name="inputname" value="" />
		</p>
		<p>
			<strong>{LANG:PLUGIN_CONTACTFORM_FORMINPUTMAIL}:</strong>
			<br />
			<input type="email" name="inputmail" required="required" value="" />
		</p>
		<p>
			<strong>{LANG:PLUGIN_CONTACTFORM_FORMINPUTTEXT}:</strong>
			<br />
			<textarea rows="20" cols="45" name="inputtext" required="required"></textarea>
		</p>
		<p>
			<strong>{LANG:PLUGIN_CONTACTFORM_SPAMCONTROL}</strong>
			<br />
			{VAR:NUMBER1} + {VAR:NUMBER2} = <input type="number" size="4" name="inputspamcontrol" required="required" />
		</p>
		<br />
		<p><input type="submit" name="contactformsubmit" value="{LANG:PLUGIN_CONTACTFORM_FORMINPUTSUBMIT}"</p>
	</form>
{/IF:SHOWFORM}

{IF:SHOWMESSAGE}
<p><strong>{VAR:SUCCESSMESSAGE}</strong></p>
{/IF:SHOWMESSAGE}
